{% extends 'base.html'%}

<body>
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}

    {% block content %}

    <div class="container">


        <h1 id="big" style="color:#EEEEEE ; text-align: center;font-size:90px;font-style:oblique">Welcome To BlogApp
        </h1>
        {% if current_user.is_authenticated %}
        <div class="well">
            <a href="{{ url_for('main.blogs') }}">New Post</a>
        </div>
        {% else %}
        </p>
        {%endif%}

        <br>
        <br>
        <div class="jumbtron">
            <div class="row">
                {% for word in blog %}
                <div class="col-md-4">
                    <p style="color: whitesmoke">Autor: {{word.user.username}}</p>
                    <p style="color: whitesmoke">Post title: {{word.title}}</p>
                    <p style="color: whitesmoke"><strong>Your post: {{word.blog}}</strong></p>
                </div>


                {% endfor %}

            </div>

        </div>
    </div>
    {% endblock%}
</body>