{% macro displayPosts(posts) %}

{% for post in blogs %}
 
  <div class="container rr">
   <!-- <img src="{{post.image}}" alt=""> -->
   
   <h3 style ="color:whitesmoke">{{post.title}}</h3>
   <p style="color:whitesmoke">Author:Juliette Kangabe</p>

   <p>{{blog.blog}}</p>
   <a href="/blog/{{blog.id}}" class='post'>View comments</a><br>

  
  <a href="/new/comment/{{blog.id}}" class="btn btn-primary">Add comment</a>
  <!-- <a href="/delete/post/{{blog.id}}" class="btn btn-primary">Delete post</a>
  <a href="/edit/post/{{blog.id}}" class="btn btn-primary">Edit post</a> -->
</div>
 

  {%endfor%}
  {%endmacro%}

  {% macro displayComments(comments) %}
  {% for comment in comments %}
  
    <div class="kk">
    <img src="static/photos/no_dp.png" alt="Display image" height='50' width='50'>
    <h3 class="name">{{comment.username}}</h3>
    
      <p>{{comment.content}}</p>
      <a href="/delete/comment/{{comment.id}}" class="btn btn-primary">Delete Comment</a>
      </div>
  
  
 
  {%endfor%}
  {%endmacro%}